<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Kafka Explorer</h1>
    <span class="menu-spacer"></span>
    <div>
      <a [routerLink]="'/topics'" mat-button > Topics </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
        <a [routerLink]="'/topics'" mat-button > Topics </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <app-loader></app-loader>
      <div style="height: 90vh">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>